.ulNeeds { width: 100%; color:red;}

.colorRed { width: 100%; color:red;}
.colorGreen { width: 100%; color:green;}
.colorBlue { width: 100%; color:blue;}
.colorYellow { width: 100%; color:yellow;}
.colorOrange { width: 100%; color:orange;}

