#main {
    position: absolute;
    left: 300px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    border-left: 1px solid black;
}

#nav {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 300px;
    bottom: 0px;
    overflow: hidden;
    border-right: 1px solid black;

}

@media only screen and (orientation:portrait) {

    #main {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }

    #nav {
        display: none;
    }
}

.mgwt-TabBar-Button {
    min-width: 50px;
    background-color:
    transparent;
    box-sizing: content-box;
    -webkit-appearance: none;
    -webkit-box-flex: 1;
    margin: 2px;
    -webkit-border-radius: 3px;
}


.disableAllLinks a {
   pointer-events: none;
   cursor: default;
}

.loading-stroke {
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}